<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995828139655-d16sdt9o6if7fatsa50rr3mv2bbtvjmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995828139655-d16sdt9o6if7fatsa50rr3mv2bbtvjmt</string>
	<key>API_KEY</key>
	<string>AIzaSyAaogOq2OeyJ6MSOzPw10cQltriy_u3bkI</string>
	<key>GCM_SENDER_ID</key>
	<string>995828139655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rn.test.gn</string>
	<key>PROJECT_ID</key>
	<string>rngn-us</string>
	<key>STORAGE_BUCKET</key>
	<string>rngn-us.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995828139655:ios:d4e9ab128ddbd7bff09a22</string>
	<key>DATABASE_URL</key>
	<string>https://rngn-us.firebaseio.com</string>
</dict>
</plist>